html{
    background-color: rgb(235, 232, 232);
}

*{
    font-family: sans-serif;
}

.nav-container{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding-top: 0.5rem;
    height: 3.6rem;
}

#top-nav{
    width: 100%;
    max-width: 60%;
    margin: auto;
}

#icon-group{
    display: flex;
}

#logo-search-box{
    display: flex;
}

.fa-linkedin{
    background-color: rgb(10, 102, 194);
    color: white;
    font-size: 1.9rem;
    width: 2rem; 
    padding: 4px 4px 3px 3px;
    border-radius: 10%;
    margin-right: 1rem;
}

#search-box{
    background-color: rgb(231, 236, 241);
    width: 20rem;
    padding-left: 1rem;
    padding-top:0.4rem;
    height: 2.5rem;
    border-radius: 5px;    
}

#search-box input{
    background-color: rgb(231, 236, 241);
    border: none;
    color: rgba(0, 0, 0, 0.6);
}

#icon-group .icon{
    display: flex;
    flex-direction: column;
    margin-right:2rem ;
    align-items:center;
    color: rgba(0, 0, 0, 0.6);
    

}

/* --------------Buttons------- */

#container-one-buttons{
    display: flex;
}

#container-one-buttons:first-child button{
    border-color: rgb(10, 102, 194);
    font: 100px;
}

#container-one-buttons button{
    margin-right: 10px;
    border-radius: 50px;
}

#container-one{
    margin-bottom: 50px;
}

#container-one{
    border: 1px solid gainsboro;
    padding: 0px 24px 24px 24px;
    border-radius: 10px;
}


/* container two */

#contact-info{
    display: flex;
    justify-content: space-evenly;
}

#contact-info div{
    border: 1px solid black;
}

#container-two{
    border: 1px solid gainsboro;
    padding: 24px;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* container three */

#container-three{
    border: 1px solid gainsboro;
    padding: 24px;
    border-radius: 10px;

}

#cards img{
    width: 70%;
}



.card{
    display: flex;
}

/*  */

#main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;

}

/* side */
#side-panel img{
    border-radius: 1px;
    margin-bottom: 20px;
}

.cardd{
    display: flex;
    border-bottom: 1px solid rgb(221, 219, 219) ;
    margin: 20px 0px;
}

#see-similar{
    color: rgb(108, 110, 112);
    text-align: center;
}
